version: '1'

services:
  type: web
  name: BlindDs_app
  rootDir: ./
  plan: starter

  buildCommand: |
    pip install -r requirements.txt
    DJANGO_SETTINGS_MODULE=api.cors.settings python api/manage.py collectstatic --noinput
    DJANGO_SETTINGS_MODULE=api.cors.settings python api/manage.py migrate

  envVars:
    - key: PYTHON_VERSION
      value: 3.11.5
    - key: DEBUG
      value: "False"
    - key: SECRET_KEY
      generateValue: true
    - key: ALLOWED_HOSTS
      value: ${RENDER_EXTERNAL_HOSTNAME}
    - key: DATABASE_URL
      fromService:
        type: pserv
        name: blindDS-db
        envVar: DATABASE_URL
