version: '1'

services:
  - type: web
    name: BlindDs_app
    env: python
    rootDir: .
    plan: starter
    
    buildCommand: |
      pip install -r requirements.txt
      DJANGO_SETTINGS_MODULE=cors.settings python manage.py collectstatic --noinput
      DJANGO_SETTINGS_MODULE=cors.settings python manage.py migrate

    postDeploy:
      - DJANGO_SETTINGS_MODULE=cors.settings python seed.py
    
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.5
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        value: ${RENDER_EXTERNAL_HOSTNAME}
      - key: DATABASE_URL
        fromService:
          type: pserv
          name: blindDS-db
          envVar: DATABASE_URL

  - type: pgbundle
    name: blindDS-db
    plan: starter
